[submodule "binutils"]
	path = binutils
	url = https://sourceware.org/git/binutils-gdb.git
	branch = binutils-2_43-branch
[submodule "llvm"]
	path = llvm
	url = https://github.com/ISOLDE-Project/riscv-llvm.git
	branch = master
